// Imports
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Fonts
* {
    font-family: 'Lato', sans-serif;
}

// Font weight
$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 900;

// Colors
$color-blue-1: #0E3A82;
$color-blue-2: #3066BE;
$color-blue-3: #B4C5E3;
$color-gray-1: #3B3745;
$color-white: #FBFFF1;
$color-black: #0E0E0E;

.svg-wave {
    &.color-blue-2 {
        path {
            fill: $color-blue-2;
        }
    }
    &.color-white {
        path {
            fill: $color-white;
        }
    }
} 